################################
# START GOOGLE ANALYTICS
################################

GoogleAnalytics:
  optional_code: '' #e.g. UA-xxxx-y
  main_site_name: '' #e.g. mysite.co.nz


################################
# END GOOGLE ANALYTICS
################################
